.Landing {
    width: 90vw;
    margin: auto;
}
.Landing-CTA {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

a.btn-link {
    color: #5b4676;
    background-color: transparent;
}
