* {
    box-sizing: border-box;
    font-size: 14px;
}
body {
    height: 100vh;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}
.container {
    border: 2px solid crimson;
}

.content {
    width: 90vw;
    margin: 0 auto;
    border: 2px solid chartreuse;
}

.App-root {
    border: 2px solid orange;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;  
}

.App-root::before {
    content: '';
    background: url('./assets/ss-bg.jpeg');
    background-size: cover;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2; 
    z-index: -1;
  }


h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
}

@media only screen and (max-width: 1000px) {
    html{
        width: 100vw;
    }
    .App-root {
        height: 100vh;
    }
}